@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('assets/Ubuntu-Regular.ttf') format('truetype');
}

body {
  background-color: #161717;
  font-family: 'Ubuntu-Regular', sans-serif;
  color: #fafafa;
}
