@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('assets/Ubuntu-Regular.ttf') format('truetype');
}

body {
  background-color: #161717;
  font-family: 'Ubuntu-Regular', sans-serif;
  color: #fafafa;
}

div.auraria-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.auraria-messenger {
  filter: contrast(0);
}
